


<div class="container-fluid">
    <div class="row">
    <img src="assets/images/flowers.jpg" style="width:100%;height:400px;" /> 
</div>
    <div class="row" style="padding-left:30%;padding-bottom:20px;">
        <div class="dividerLine">&nbsp;</div>
        <div style="width:20px;display:inline-block;margin-top:38px;height:2px;vertical-align: top;">
            <strong style="vertical-align: top;">...</strong></div>
        <div class="dividerLine">&nbsp;</div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
            <section>
                <p>
                    Shiv-Goraksha Babaji is regarded as a manifestation of Lord Shiva himself and the founder of the Nath Tradition. He has bestowed upon humanity the practices to evolve human consciousness, in particular, the divine alchemy of Shiva Shakti (Kundalini Kriya Yoga), which exercises a double action to hasten the evolution of the self soul. This expands the self-consciousness and burns away past evil karma.
                </p>
                <p>
                    Babaji is ever the same. He was never born and therefore can never die. They call him aja (the unborn). But from time to time, this compassionate Lord of irradiant splendor does manifest for humanity to do what needs to be done. Pulling the veil of Maya by himself, he will take a form of Lightless light to incarnate amongst the haunts of men. He guards, guides, and enlightens their evolutionary blueprint.
                </p>
                <p>
                    His deathless body of lightless light may take any form through which he can express and show himself to the faithful from age to age. He took the form of Adi Nath Shiva himself, and of Rudra of the Ancient of days. He came recently in 500 B.C. as Kal Agni Nath, than as Dakshin Murti when he initiated himself. Then he manifested as Goraksha Nath in 70 B.C. at the time of King Shalivahan and Chowrangee Nath. In the same ever-present immortal body, he manifested as Shiv-Goraksha Babaji in the ninth century A.D. during the time of Guga Nath, whom he empowered to have complete mastery over the Nagas and ultimately be worshipped as a Naga God.
                </p>
            </section>  
        </div>
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12" style="padding-right:20px;">
            <img src="assets/images/babaji2.jpg" style="width:80%;height:400px;" /> 
        </div>
    </div>

    <div class="row" style="padding-left:30%;padding-bottom:50px;">
        <div class="dividerLine">&nbsp;</div>
        <div style="width:20px;display:inline-block;margin-top:38px;height:2px;vertical-align: top;">
            <strong style="vertical-align: top;">...</strong></div>
        <div class="dividerLine">&nbsp;</div>
    </div>

</div>