<div class="container-fluid">
    <!-- Main Image -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left:0px;padding-right:0px;">
            <img src="assets/images/home.jpg" style="width:100%;max-height:100%;" /> 
        </div>
    </div>
    

    <!-- Marquee Text -->
    <div class="row dividerDiv">
        <marquee>Humanity, Our Uniting Religion, Breadth, Our Uniting Prayer, Conciousness, Our Uniting God</marquee>
    </div>

    <!-- Events & Info -->
    <div class="row padding-top30" style="display: flex;justify-content: space-between;">
        <div class="hover03 hover07 hover08 hover11 eventColumn"> 
            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12" style="margin-right:30px;margin-bottom:30px;">                
                <a routerLink="/contact" routerLinkActive="active">
                    <figure>
                        <span>Contact us</span>
                        <img src="assets/images/contactus300.png" />
                    </figure>
                </a>
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12" style="margin-right:30px;margin-bottom:30px;">
                 <a routerLink="/nlam" routerLinkActive="active">
                    <figure>
                        <span>NLAM</span>
                        <img src="assets/images/nlam300.png" />
                     </figure>
                </a>
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                <a routerLink="/about" routerLinkActive="active">
                    
                    <figure>
                        <span>About Us</span>
                        <img src="assets/images/aboutus300.png" />
                    </figure>
                </a>
            </div>
        </div>
    </div>
    
    
    <!-- About Yogiraj -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 aboutYogi"> 
            <div>
                <h1>About Us</h1>
                <p>Who is Yogiraj?</p>                  
                <p style="font-size:14px;padding-right:450px;">
                    Yogiraj Gurunath Siddhanath is a simple, yet remarkable man. Born in Gwalior (northern), India on May 10, 1944, he is descended from the ancient royal family of Ikshavaku Rama of the Solar Dynasty. Despite his ancestry, he attained perfection and bliss at the age of 3 and chose to fulfill his calling as a yogi after completing his education.
                </p>
                <a routerLink="/about" routerLinkActive="active">
                    <span>Learn More</span>
                </a>
            </div>            
            <img src="assets/images/HimYogi.jpg" style="width:100%;max-height:100%;" /> 
        </div>
    </div>
    
    
    <div class="row whiteHr"></div>
    
    
    <!-- New Life Awakening Movement -->    
    <div class="row nlamHome">
        <a routerLink="/nlam" routerLinkActive="active">
            <img src="assets/images/nlam_500.png" width="100%">
        </a>
    </div>
    
    <div class="row whiteHr"></div>
</div>