.aboutYogiMainDiv {
    background-image:url('assets/images/flowers.jpg'); 
    background-repeat: repeat;
    height:300px;
    width:100%;
    margin:0px;
}

strong {
    color: #8e0000;
}

.dividerLine {
    display:inline-block;
    background-color:#fddd26;
    height:2px;
    width:30%;
    vertical-align: top;
    margin-top:50px;
    margin-right:10px;
}