
<div class="row aboutYogiMainDiv"></div>

<div class="container">
    <div class="row" style="padding-left:30%;padding-bottom:20px;">
        <div class="dividerLine">&nbsp;</div>
        <div style="width:20px;display:inline-block;margin-top:38px;height:2px;vertical-align: top;">
            <strong style="vertical-align: top;">...</strong></div>
        <div class="dividerLine">&nbsp;</div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
            <section>
                <p>
                    Today, as a Master of Kundalini Kriya Yoga, Yogiraj Gurunath has worked ceaselessly, lighting a spark in our souls and planting a seed in us to embrace, embody and support “Earth Peace Through Self Peace”.
                </p>
                <p>
                    In the spirit of service, Yogiraj and his wife of 35 years, Gurumata Shivangini (affectionately called Ayie or “Mother” by his students) built the Siddhanath Forest Ashram in the gentle valley of Sita Mai outside the City of Pune, in India’s Simhagad region. Gurumata Shivangini is a powerful Yogini in her own right. Together, they have raised two children, are proud grandparents and continue to demonstrate by example; that it is not necessary to live as a renunciate –– meditating in order to achieve enlightenment –– but it is more important to experience life.
                </p>
                <p>
                    For over 40 years, Yogiraj has healed and transformed millions all over the world with his transmissions of Kundalini Shakti energy and has shared freely his own Samadhi (enlightened state) of peaceful bliss-consciousness. Yogiraj has taught yoga and spirituality not only to followers, but also to world leaders and has even given experiential discourse before the United Nations, yet he prefers nothing more than to sit in the simple pristine forests and mountains to meditate on God in tranquility.
                </p>
                <p>
                    Yogiraj Gurunath is not a Deity but a beacon of positivity, to give humanity the courage to find Self Peace and therefore cumulatively promote Earth Peace.
                </p>
            </section>  
        </div>
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12" style="padding:20px;">
            <img src="assets/images/gurunath1.jpg" style="width:100%;max-height:100%;" /> 
        </div>
    </div>

    <div class="row" style="padding-left:30%;padding-bottom:50px;">
        <div class="dividerLine">&nbsp;</div>
        <div style="width:20px;display:inline-block;margin-top:38px;height:2px;vertical-align: top;">
            <strong style="vertical-align: top;">...</strong></div>
        <div class="dividerLine">&nbsp;</div>
    </div>

</div>