
<div class="row aboutYogiMainDiv"></div>

<div class="container">
    <div class="row" style="padding-left:30%;padding-bottom:20px;">
        <div class="dividerLine">&nbsp;</div>
        <div style="width:20px;display:inline-block;margin-top:38px;height:2px;vertical-align: top;">
            <strong style="vertical-align: top;">...</strong></div>
        <div class="dividerLine">&nbsp;</div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
            <section>
                <p>
                    Kundalini Kriya Yoga of the Siddhanath Yoga Parampara is enlivened after personal empowerment from Yogiraj Siddhanath. Kundalini Kriya Yoga is an instrument for quickening human evolution. To see when the next Kriya Yoga Empowerment is scheduled in your area, see our Retreats/Events page.
                </p>
                <section>WHAT IS KUNDALINI KRIYA YOGA? PRANA APANA YAGYA</section>
                <p>
                    Kundalini Kriya is a process of converting breath into lifeforce and realizing the body as light. By the perfect performance of Kriya 1,728 times in one posture (i.e., at one time) and by practicing 20,736 Kriyas, a devotee can reach a state of Samadhi (God contact). But Kriya cannot be practiced so many times by a beginner. When the body and mind of the Yogi are prepared to accommodate the high voltage of so much Kundalini Kriya Yoga, his Guru will advise him that he is ready for the experience of Samadhi. If the Kriyas are broken into several sittings, there is no harm; it will just take longer.
                </p>
                <section>Kundalini Kriya Yoga: A process for Magnetic Oxidation</section>
                <p>
                    In the practice of Kundalini Kriya Yoga, the will and imagination transmute the oxygen of breath into life energy and blend it into the spiritual currents of the spine. However, in Kriya Yoga, when you inhale and exhale continuously, oxygen is quickly converted into life energy that recharges the entire body, especially the blood and the lungs with vital sustenance.
                </p>
                <section>MAHAVATAR BABAJI : THE ADI BUDDHA OF COMPASSION</section>
                <p>
                    Mahavatar Gorakshanath Babaji, the Adi Buddha of compassion has given to the Kaliyuga (the dark age) the divine alchemy of Shiva Shakti Kundalini Kriya Yoga, which exercises a double action to hasten the evolution of the self-soul. The upward life breath of Prana expands soul-consciousness, the downward life breath of Apana burns past evil Karmas before they ripen into fruit. This Prana-Apana burns the seeds of potential Karma, evolves and transforms the mind into consciousness.
                </p>
                <section>Kundalini Kriya Yoga – The Love Phenomenon</section>
                <p>
                    As the Kriya Yoga deals with the highest evolution of man, it is rightly called the Science of all Sciences. Nevertheless, it has its roots in the soil of love, without which it flowers not. We are so immersed in Kriya Yoga’s sound and motion that we become the sound and the motion. The sound must be made with Love and Joy; the motion becomes the emotion of Love.
                </p>
                <p>
                    The upward and downward motion in the spine generates tremendous Love and the spine is spiritually magnetized. The Yogi becomes the process of Yoga. The Yogi becomes the Yoga. The pilgrim, the path and the goal become One … Love.
                </p>
            </section>  
        </div>
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12" style="padding:20px;">
            <img src="assets/images/babaji1.jpg" style="width:100%;max-height:100%;" /> 
        </div>
    </div>

    <div class="row" style="padding-left:30%;padding-bottom:50px;">
        <div class="dividerLine">&nbsp;</div>
        <div style="width:20px;display:inline-block;margin-top:38px;height:2px;vertical-align: top;">
            <strong style="vertical-align: top;">...</strong></div>
        <div class="dividerLine">&nbsp;</div>
    </div>

</div>