@font-face {
/*
    font-family: 'AppleChancery';
    src: url('assets/AppleChancery.ttf'); 
*/
    font-family: 'Merriweather';
    src: url('https://fonts.googleapis.com/css?family=Merriweather'); 
}

body {
/*  margin: 1em;*/
/*    font-family: 'Alice', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    font-family: 'Merriweather', 'AppleChancery', 'Alice', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif' !important;
    font-size: 1.4em;
}



.internaldiv {
    position: relative;
    width:25%;
    min-height:300px;
    margin: 3%;
    display:inline-block;
}

.outerdiv {
    text-align:center;
}

.dividerDiv {
    background-color:#FF9537;
    height:100px;
    font-size:2em;
    padding-top:30px;    
    color:white;
}

transparentDiv {
    opacity: 0.1;background-color:rgba(255,0,0,0.5);z-index: 10;position: absolute;top:250px;left:0px;width:100%;height:300px;padding-top:6%;
}


.gradientAboutGurunath {
    background: #006CAA; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#006CAA, #2F89BD); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#006CAA, #2F89BD); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#006CAA, #2F89BD); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#006CAA, #2F89BD); /* Standard syntax */
}

/*
.image-token {
    width:100%;
    min-height:300px;
    border-radius:10px;
}

.tokenDiv {
    
}
*/
.text-label {
    position: absolute;
    top: 150px;
    left: 50px;
    z-index: 999;
    color: white;
    font-size: 40px;
    opacity: 1;
    cursor: pointer;
}

.tokenDiv:hover
{
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.tokenDiv .text-label {
    visibility: hidden;
}

.tokenDiv:hover .text-label {
    visibility: visible;
}

.padding-top30 {
  padding-top: 30px;
    padding-right:5px;
}
.divBorder {
    border-style: solid;border-color: blue
}

/*!
 * Bootstrap-submenu v2.0.4 (https://vsn4ik.github.io/bootstrap-submenu/)
 * Copyright 2014-2016 Vasily A. (https://github.com/vsn4ik)
 * Licensed under the MIT license
 */

/*START following code is used to hover cursor on drop down menu rather than click*/
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

@media (min-width: 768px) {
  .dropdown-menu li:hover .sub-menu {
      visibility: visible;
  }
}

@media (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
      display: block;
      cursor:pointer;
  }
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}
/*END following code is used to hover cursor on drop down menu rather than click*/

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #e0b13a;
    color: #ffffff;
    cursor:pointer;
}

